@import '../../styles/mixins.scss';

.container {
  @include flex-center;
  min-height: 200px;
  
  @include responsive(tablet) {
    padding: 2rem;
  }
  
  @include responsive(desktop) {
    padding: 3rem;
  }
}

.card {
  @include custom-shadow;
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  
  @include responsive(tablet) {
    width: 80%;
  }
} 